{% extends 'base.html' %}

{% block content %}
    <h2>Registration Form</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li style="color:red; background-color:lightpink"><strong>{{ field.label }}</strong>: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
        <button type="submit">Register</button>
    </form>
{% endblock %}
